@page
@model CaesarCipher.Pages.DecryptModel

@{var myStyleSheet = "~/css/user.css";}
<link rel="stylesheet" type="text/css" href="@Href(myStyleSheet)" />

@{
    ViewData["Title"] = "Decrypt";
}



<div class="text-center">
    <h1 class="display-4">Decrypt</h1>
    <p>Please complete the form to decrypt your text.</p>
</div>
<br />

<form onsubmit="return false" class="text-center">
    <textarea id="encrypt-text" name="encrypt-text" placeholder="Enter decryption message here.">Enter decryption message here</textarea>
    <br /><br />


    <p>How many digits do you want to shift the text by?</p>
    <select id="encrypt-number" required>
        <option value="" disabled selected>Select your option</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
    </select><br><br />

    <ul>
        <li><input id="myButton" type="submit" value="Submit" /></li>
        <li><input id="clear" type="submit" value="Clear" /></li>
        <li><input id="upload" type="submit" value="Upload" /></li>
    </ul>
    
</form>
<br />
<br />

<form class="">
    <textarea id="encrypted-text" name="encrypted-text" placeholder="Decrypted text will be displayed here."></textarea>
    <br><br /><br />
</form>


<script src="~/js/decryptText.js" language="javascript" type="text/javascript"></script>
