
textarea {
    width: 100%;
    height: 200px;
    max-width: 100%;
    border-style: solid;
    border-width: 2px;
}

#encrypted-text {
    background-color: #f1faee;
}

#encrypt-text {
    background-color: #a8dadc;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a:hover {
   opacity:0.5;
}

#list1 {
    margin-left:-2%;
}

#clear, #myButton, #upload {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #434343;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

#clear:hover, #myButton:hover, #upload:hover  {
    opacity:0.8;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

select {
    padding: 5px;
}

@media (max-width: 768px) {
    textarea {
        max-width:95%;
    }
}